global-include *.c
global-include *.cpp
global-include *.h
global-include *.pyx
global-include *.pxd

graft lib/eigen3.3.3
graft lib/libfastsparse
exclude lib/libfastsparse/.git
exclude lib/libfastsparse/.gitignore

exclude python/macau/test_*.py
graft python/macau/examples
